<tr>
    <td class="info col-sm-4">
        id
    </td>
    <td class="col-sm-8 propctrl">
        <input type="text" class="form-control input-sm prop-id" value="{{id}}" />
    </td>
</tr>
<tr>
    <td class="info col-sm-4">
        label text
    </td>
    <td class="col-sm-8 propctrl">
        <input type="text" class="form-control input-sm prop-labeltext" value="{{labeltext}}" />
    </td>
</tr>
<tr>
    <td class="info col-sm-4">
        placeholder
    </td>
    <td class="col-sm-8 propctrl">
        <input type="text" class="form-control input-sm prop-placeholder" value="{{placeholder}}" />
    </td>
</tr>
<tr>
    <td class="info col-sm-4">
        help
    </td>
    <td class="col-sm-8 propctrl">
        <input type="text" class="form-control input-sm prop-help" value="{{help}}" />
    </td>
</tr>